@import "./variables.scss";

.dictionary {
    display: flex;
    align-items: center;
    flex-direction: column;

    form {
        display: flex;
        align-items: flex-end;
        gap: 1rem;
    }
    
    h2, h3 {
        color: $myBlack;
    }

    .phonetics {
        border-bottom: 2px solid $myBorderColor;
        display: flex;
        justify-content: space-between;
    }

    .result {
        width: 40vw;

        .meaning {
            padding: 1.5rem 0;
            border-bottom: 2px solid $myBorderColor;
        }
    }
}