@import "./variables.scss";

nav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    height: 60px;
    border-bottom: 2px solid $myBorderColor;
    font-size: larger;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;

    .nav-logo {
        flex: 1;
        font-size: x-large;
        color: #01ff97;
    }

    .nav-link {
        flex: 3;
        display: none;
        justify-content: center;
        gap: 3.5rem;

        a {
            text-decoration: none;
            display: flex;
            align-items: center;
        }
    }

    .nav-account {
        flex: 1;

        > div {
            justify-content: flex-end;   
        }
    }
}

footer.bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid $myBorderColor;
    height: 60px;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;

    a {
        display: flex;
        align-items: center;
        font-weight: bold;
    }
}

@media screen and (min-width: 600px) {
    nav {
        .nav-link {
            display: flex;
        }
    }

    footer.bottom-nav {
        display: none;
    }
}