@import "./variables.scss";

nav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    height: 60px;
    border-bottom: 2px solid $myBorderColor;
    font-size: larger;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;

    .nav-logo {
        flex: 1;
        font-size: x-large;
        color: #01ff97;
    }

    .nav-link {
        flex: 3;
        display: flex;
        justify-content: center;
        gap: 3.5rem;
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
        }
    }

    .nav-account {
        flex: 1;

        > div {
            justify-content: flex-end;   
        }
    }
}