@import "./variables.scss";

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid $myBorderColor;
    height: 70px;
    background-color: white;
}

main {
    margin: 1.5rem 0.5rem 120px;
    display: flex;
    justify-content: center;

    section {
        width: 100%;
        max-width: 550px;

        .question {
            margin-top: 3rem;
            margin-bottom: 5rem;
            color: black;
        }

        &.multiple-choice-question {
            .options {
                width: 100%;
                align-items: center;
                gap: 12px;
        
                .option {
                    border-radius: 10px !important;
                    width: 100%;
                    text-transform: none;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                }
            }
        }
    
        &.listening-question {
            .question {
                margin-bottom: 3rem;
            }
    
            .speaker {
                transform: scale(3.5);
            }
        }
    
        &.arranging-question {
            .question {
                margin-top: 0.5rem;
                margin-bottom: 1.5rem;
            }
    
            img {
                width: 100%;
            }

            .your-answer {
                margin-top: 0.25rem;
                height: 150px;
                border: 2px solid $myBorderColor;
                border-radius: 1rem;
            }

            .word-picking {
                width: 100%;
                margin-top: 0.75rem;
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                
                button {
                    text-transform: none;
                    border-radius: 12px;
                }
            }
        }
    }
}

@media screen and (min-width: "600px") {
    footer {
        height: 100px;
    }
}